.answers {
  font-family: "avram" !important;
}

.css-rizt0-MuiTypography-root {
  font-family: "avram" !important;
}
.center-header {
  text-align: center;
  font-family: "avram" !important;
}
#end-btn2 {
  font-family: "avram" !important;
  background-color: #f7a619;
  color: black;
  border: none;
  border-radius: 20px;
  font-family: "avram";
  padding: 3%;
  font-size: 5vmin;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4%;
}

.incorrect {
  color: red !important;
  font-family: "avram" !important;
}
.correct {
  color: green !important;
  font-family: "avram" !important;
}
