.power {
  /* background-image: url(../assets/background2.jpg); */
  height: min-content;
  padding: 20px;
  display: flex;
  font-family: "avram";
  flex-direction: column;
  font-size: 5vmin;
  width: 68vw;
  text-align: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.move-btns-p {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  position: absolute;
  top: 80vh;
  /* display: flex;
  justify-content: space-between;
  width: 90vw;
  position: absolute;
  top: 88vh;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  left: 50%;
  transform: translateX(-50%); */
}
.image1 {
  height: 45vh;
}
.image2 {
  height: 24vh;
}
.video-comp {
  /* width: 50vw; */
  height: 25vh;
  margin-top: 10vh;
}
.video-comp1 {
  /* width: 50vw; */
  height: 25vh;
  margin-top: 2vh;
}
.header-timer {
  margin-top: -5vh;
  margin-bottom: 0vh;
}
.header-timer1 {
  margin-top: 0vh;
  margin-bottom: 0vh;
}
