body {
  z-index: 1000;
  /* background-image: url(../assets/background2.jpg); */
  /* background-size: 100% 100%; */
  /* height: 100vh; */
  /* display: flex; */
  font-family: "avram";
  overflow: hidden;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-between;  */
}
html,
#root,
body {
  height: 100vh;
  margin: 0;
}
.study {
  z-index: 1000;
  background-image: url(/assets/ropes5.png);
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  font-family: "avram";
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  text-align: center;
}
.study-page {
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* .swiper-horizontal::part() {
  touch-action: pan-y;
  position: absolute;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  height: 49vh;
  border-radius: 44px;
}  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper {
  touch-action: pan-y;
  position: absolute;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  height: 49vh;
  border-radius: 44px;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgb(255, 255, 255);
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(#083b4c, #083b4c);
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  color: #083b4c;
}
.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color, inherit);
  color: #083b4c !important;
}
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: none;
}
.text {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  font-size: 5vmin;
  color: #073c4b;
}
.head {
  color: #af5952;
}
.head1 {
  color: #6f4245;
  width: 80vw;
}
.spacing {
  letter-spacing: 1px;
}
.text-small {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  font-size: 4vmin;
  color: #073c4b;
}
.next-btn,
.last-btn {
  display: flow;
  background-color: #f7a619;
  color: black;
  border-radius: 15px;
  width: 17vw;
  height: 7vh;
  font-family: "avram" !important;
  border: none;
  cursor: pointer;
  margin-inline: -9vw;
  font-size: 5vmin;
  text-align: center;
  /* text-align: -webkit-center; */
  /* background-color: #f7a619;
  color: black;
  border-radius: 15px;
  width: 20vw;
  height: 7vh;
  font-family: "avram";
  border: none;
  cursor: pointer;
  margin: 4%;
  font-size: 5vmin; */
}
.move-btns {
  /* display: flex;
  color: black;
  width: 80vw;
  position: absolute;
  top: 100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center; */
  display: flex;
  justify-content: space-between;
  width: 80vw;
  position: relative;
  top: 80vh;
  /* top: -5vh;  */
}
.red-text {
  color: rgb(114, 24, 24);
}
.img-glisha {
  width: 240px;
  height: 150px;
  /* width: 70%; */
}
.card-img {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.question-btn {
  background-color: #ffffff;
  color: black;
  border-radius: 15px;
  width: 70vw;
  height: 10vh;
  font-family: "avram";
  border: none;
  cursor: pointer;
  margin-bottom: 2%;
  font-size: 5vmin;
}
.answer-result {
  font-size: 5vmin;
  width: 65vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.seder {
  letter-spacing: 2px;
  margin-top: -1vh;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
